<h2>Dashboard</h2>
<p id="currentDate"></p>
<h2>Dashboard</h2>

<div id="overlay"></div>
<div id="modal">
    <form id="myForm" action="/api/income/type" method="post">
        <label value="invoice_number" for="invoiceNumber">Invoice Number:</label value="">
        <input type="text" id="invoiceNumber" name="invoice_number" required>

        <label value="amount" for="amount">Amount:</label value="">
        <input type="text" id="amount" name="amount" required>

        <label value="issue_date" for="issueDate">Issue Date:</label value="">
        <input type="date" id="issueDate" name="issue_date" required>

        <label value="due_date" for="dueDate">Due Date:</label value="">
        <input type="date" id="dueDate" name="due_date" required>

        <label value="payment_status" for="paymentStatus">Has this been paid? :</label value="">
     <select id="paymentStatus" name="payment_status">
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

        <label value="description" for="description">Description:</label value="">
        <input type="text" id="description" name="description" required>

         <label value="income_name" for="incomeName">Income Type:</label value=""> 
        <input type="text" id="incomeName" name="income_name" required>

         <label value="client_name" for="clientName">Client name :</label value=""> 
        <input type="text" id="clientName" name="client_name" required>
       

        <button type="submit">Submit</button>
    </form>
    <button id="closeModalBtn">Close Modal</button>
</div>

<script src="/js/modal.js"></script>
</body>
</html>




