{{!-- Main placeholder/biolderplate --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/output.css" rel="stylesheet">
  <title> Xinc </title> 
</head>


<body class="bg-black ">
  <main >
    <div class="text-amber-400">
save changes heohwoiuehowirhw
      <div>

      </div>
      <div>
{{{body}}}
      </div>

    </div>

  </main>
</body>

</html>