{{!-- Main placeholder/biolderplate --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/output.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title> Xinc </title> 
</head>

<body>
  <main class=>
    <div class="grid grid-cols-3 gap-x-2 gap-y-3 grid-flow-row-dense p-2 h-screen">
      <div class="rounded-lg shadow-xl col-span-2 flex justify-center items-center">
        <h1 contenteditable="true"><span id="illuminate">X</span>inc</h1>
      </div>
      <div class="bg-sky-300 rounded-lg shadow-xl">
      </div>

    </div>

  </main>
</body>

</html>