<nav
  class="sticky top-0 flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="justify-center">
      <a class="text-xl text-neutral-800 dark:text-neutral-200" href="#"
        >Welcome, {{user.first_name}}!</a
      >
      <p id="currentDate"></p>
    </div>
    <button
  class='text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'
  type='button'
  id='logout'
>LOGOUT</button>
  </div>
</nav>

{{#if hasOutstandingIncomes}}
<div class="modal" id="incomeModal">
  <div class="modal-content">
    {{!-- &times is the multiplaction symbol for use as an X to close --}}
    <span class="close-button" id="closeIncomeModal">&times;</span>
    <h3>Overdue Incomes</h3>
    <p>You have {{outstandingIncomesCount}} overdue income payments. Please review your income transactions below.</p>
  </div>
</div>
{{/if}}
{{#if hasOutstandingExpenses}}
<div class="modal" id="expenseModal">
  <div class="modal-content">
    <span class="close-button" id="closeExpenseModal">&times;</span>
    <h3>Overdue Expenses</h3>
    <p>You have {{outstandingExpensesCount}} overdue expenses. Please review your expense transactions below.</p>
  </div>
</div>
{{/if}}

{{!-- Need to duplicate all for expenses --}}

<main class="grid grid-cols-2 gap-x-2 gap-y-3 grid-flow-row-dense p-2" id="herocolor">
  <div>
    <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center ">
      {{> incomeFilterForm}}
    </div>
    <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center ">
      {{> incomeTable}}
    </div>
  </div>
  <div>
    <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center ">
      {{> expenseFilterForm}}
    </div>
    <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center ">
      {{> expenseTable}}
    </div>
  </div>
  <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center col-span-2">
  {{> addTransactionModal}}
</div>
</main>
<div>
  {{> chart}}
</div>



{{!-- Import script for chart --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{!-- Following script is used by both FilterForm and both Table. Ideally in the future, these would be segregrated. The new addTransactionModal will include it's own script. --}}
<script src="/js/dashboard.js"></script>
{{!-- Handle logout button --}}
<script src="/js/logout.js"></script>


