<h2>Dashboard</h2>
{{!-- Need to get the following two lines working --}}
<p>Welcome, {{user.firstName}}!</p>
<p id="currentDate"></p>

{{!-- TODO: Add a means to close the modal, add a click-on modal that automatically filters by overdue on the income-table --}}
{{#if hasOutstandingIncomes}}
<div class="modal">
  <div class="modal-content">
    <h3>Outstanding Incomes</h3>
    <p>You have {{outstandingIncomesCount}} outstanding income payments. Please review them below.</p>
  </div>
</div>
{{/if}}

{{!-- Need to duplicate all for expenses --}}

<div>
  {{> incomeFilterForm}}
</div>
<div>
{{> incomeTable}}
</div>
<div>
{{> addIncomeModal}}
</div>

<div>
  {{> expenseFilterForm}}
</div>

<div>
  {{> expenseTable}}
</div>

<div>
  {{> chart}}
</div>

{{!-- Import script for chart --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{!-- Following script is used by both FilterForm and both Table. Ideally in the future, these would be segregrated. The new addTransactionModal will include it's own script. --}}
<script src="/js/dashboard.js"></script>


