<h2>Dashboard</h2>
<p id="currentDate"></p>
<h2>Dashboard</h2>
<p id="currentDate"></p>



{{#if paymentsDueSoon}}
  <div class="alert alert-warning">
    <p>You have {{paymentsDueSoon}} payments due soon. <a href="/payments">Click to view.</a></p>
  </div>
{{/if}}

{{#if paymentsOverdue}}
  <div class="alert alert-danger">
    <p>You have {{paymentsOverdue}} payments overdue. <a href="/payments">Click to view.</a></p>
  </div>
{{/if}}

{{#unless paymentsDueSoon}}
  {{#unless paymentsOverdue}}
    <div class="alert alert-success">
      <p>You have no payments due soon or overdue.</p>
    </div>
  {{/unless}}
{{/unless}}

<div>
  {{> filterForm}}
</div>
<div>
{{> incomeTable}}
</div>

<script src="/js/dashboard.js"></script>


