
<main id="herocolor">
    <div class="grid grid-cols-3 gap-x-2 gap-y-3 grid-flow-row-dense p-2 h-screen">
      <div class="rounded-lg shadow-xl col-span-2 flex justify-center items-center">
        <h1><span id="illuminate">X</span>inc</h1>
      </div>
      <div class="bg-sky-300 rounded-lg shadow-xl flex-col justify-center items-center text-center">
        <div id= "loginDiv">
        {{> login}}
        <button
      class='text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'
      type='button'
      id='signup-button'
    >SIGNUP</button>
    </div>
    <div id= "signupDiv">
        {{> register}}

      <button
      class='text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'
      type='button'
      id='back-button'
    >BACK</button>
    </div>
      </div>

    </div>
    <script src='/js/homepage.js'></script>
  </main>
  
