#herocolor {
    background-color: #07252d;
}

#signupDiv {
    display: none;
}

#loginDiv{
    display: inherit;
}

#incomeTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.05em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#incomeTable thead tr{
    background-color: skyblue-300;
    color: black;
    text-align: left;
    font-weight: bold;
    
}
#incomeTable th {
    padding: 12px 15px;
}
#incomeTable td {
    padding: 12px 15px;
}
#incomeTable tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #fff;
}
#incomeTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#incomeTable tbody tr:last-of-type {
    border-bottom: 2px solid skyblue-300;
}

#expenseTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.05em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#expenseTable thead tr{
    background-color: skyblue-300;
    color: black;
    text-align: left;
    font-weight: bold;
    
}
#expenseTable th {
    padding: 12px 15px;
}
#expenseTable td {
    padding: 12px 15px;
}
#expenseTable tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #fff;
}
#expenseTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#expenseTable tbody tr:last-of-type {
    border-bottom: 2px solid skyblue-300;
}

#incomeModal {
    background: #ee7676;
    border: solid black;
    text-align: center;
}
#expenseModal {
    background: #ee7676;
    border: solid black;
    text-align: center;
}

h1{
    font-size: 6em;
    letter-spacing: 15px;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;

}
h3{
    font-weight: bold;
}
#illuminate {
    color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    
    animation: animate 5s linear; 
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;

    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;